################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Advertising/Advertising/bin/Debug/net6.0
/Advertising/.vs
/Advertising/Advertising/obj/Debug/net6.0
/Advertising/Advertising/obj
/AdvertAPI/.vs/AdvertAPI
/AdvertAPI/AdvertAPI/obj
/AdvertAPI/AdvertApi.Models/obj
/AdvertAPI/.vs
